# Google Apps Script Web App URL that appends /free-consultancy bookings
# to the booking Google Sheet. See google-apps-script/SETUP.md for setup.
GOOGLE_SHEETS_WEBHOOK_URL=https://docs.google.com/spreadsheets/d/1qm7Avga6wpM_lvqMI3xiCS4rK-wjSk8tuwhiN-Chw_o/edit?usp=sharing
